#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

ul {
	list-style: none;
}

.tree-depth {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tree-width {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
