.tree-width {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.tree-depth {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.stopwatch {
	position: fixed;
	top: 10px;
	right: 10px;
}
