#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

ul {
	list-style: none;
}

.node-width {
	display: flex;
	justify-content: center;
}
.node {
	width: 10em;
}

.node-parameter {
	display: flex;
}
