#root {
	background-color: gray;
}

.tree-width {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 6px;
	background-color: gray;
}

.tree-depth {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: silver;
}
.node {
	width: 10em;
}

.node-parameter {
	display: flex;
}

.btn-confirm {
	display: flex;
	justify-content: flex-end;
}
