.tree-width {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.tree-depth {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.stopwatch {
	position: fixed;
	top: 20px;
	right: 20px;
}
.node {
	width: 10em;
	margin: 5px;
}

.node-parameter {
	display: flex;
}

.btn-confirm {
	display: flex;
	justify-content: flex-end;
}
.displayTime {
	text-align: center;
}
