.tree-width {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.tree-depth {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.node {
	width: 10em;
	margin: 5px;
}

.node-parameter {
	display: flex;
}

.btn-confirm {
	display: flex;
	justify-content: flex-end;
}
